/* commonly shared styles  */
body {
    font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;


}



/* nav styles- */

.gamer{
    
 display: flex;
 justify-content: center;
 align-items: center;
font-size: 2.8rem;

}
.gamer-title{
    margin: 0px;
}
.gamer{
 
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 2.5rem;
   
   }
   .nav{
       /* width: 100%; */
       display: flex;
       justify-content: space-between;
       padding: 0px 50px;
       box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
       /* background-color: #0B0223; */
       margin-bottom: 30px;
   
   }
   .nav-list>ul{
       display: flex;
       justify-content: center;
       gap: 20px;
       align-items: center;
   }
   
   nav li {
       list-style: none;
       /* margin-right: 50px; */
   
   }
    .nav-list-back{
      
   
   }
   .gamer-title{
       padding-bottom: 10px;
   }
   .gamer h3{
       margin: 0px;
   }
   .nav-list{
       /* padding-top: 50px; */
   }
   .nav-list a{
       text-decoration: none;
   }
   .nav-list .pera{
       display: flex;
       justify-content: space-around;
       gap: 10px;
       border-radius: 8px;
       background: rgba(11, 2, 35, 0.10);
       /* height: 40px; */
       padding: 0px 10px;
       align-items: center;
       
      
   
   }

/* banner-section */
.banner{
    background: #FFF;
    display: flex;
   
    width: 100%;
    justify-content: space-between;   
    margin-bottom: 100px;
    
}
.banner-description{
    background-image: url(../images/Group1.png);
    text-align: center;
    width: 50%;
    /* padding: 100px 200px; */
  
    
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 400px;
    height: 550px;
    padding: 0px 200px 0px 0px;
}
.banner-title{
    color: #0B0223;
text-align: center;
font-weight: 600;
font-size: 2rem;
margin-top: 10rem;

}

.banner-title2{
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 0px;

}

.text-light{
    color: #534C64;
    font-size: 1rem;
font-weight: 400;
margin-left: 100px;
text-align: left;

    
}


.btn-primary{
    display: inline-flex;
    padding: 1.3rem 2.5rem;
    align-items: flex-start;
    gap: 10px;
    border-radius: 3rem;
    color: #FFF;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-primary1{

    display: inline-flex;
    padding: 1.3rem 2.5rem;
    align-items: flex-start;
    gap: 10px;
    border-radius: 3rem;
    color: #FFF;
background: #4EC5F7;
}
.banner li{
    list-style: none;
   text-align: left;
    
   
}
.banner .img2{
    background-color: white;
    padding: 0px 100px;
    
    
}
/* section-2 */
.section-2{
    width: 100%;
    margin-bottom: 100px;
}
.games-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-img{
    max-width: 300px;
}

.section-title{
    color: #0B0223;
text-align: center;
font-size: 2rem;
font-weight: 700;
margin-top: 20px;
}
.section-title-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.section-description{
    text-align: center;
    color: #534C64;
    font-size: 0.8rem;
}




.card-img:hover{
    filter: blur(3PX);
    border: 5px solid red;
    border-radius: 8px;
    
   
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
/* section-3  */
.section-3{
    display: flex;
    justify-content: space-between;
    /* padding: 0px 100px; */
    padding-bottom: 350px;
    align-items: center;
}
.section-3-img{
    width: 500px;
    height: 500px;
}
.section-3-description{
   
    width: 350px;
    height: 300px;
    font-size: 2rem;
   padding-top: 200px;
   margin-right: 100px;
   text-align: left;
}
.inside-img{
    border-radius: 8px;
border: 10px solid #FFF;
background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
width: 320px;
height: 365px;
position: relative;
bottom: 250px;
margin-left: 500px;
margin-bottom: 100px;
}

/* section-4  */
.section-4{
    
    display: flex;
    
    gap: 30px;
    
    justify-content: space-around;
    padding: 20px;
}
.div-icon{
    display: flex;
    justify-content: center;
}
.btn-icon{
    border-radius: 50px;
background: #FFF;
border: 0;
}
.icon-img{
    width: 60px;
height: 60px;
}

.text-light2{
    color: #534C64;
    font-size: 1rem;
font-weight: 400;
padding:10px;}

.section-4-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}
.line-a{
    
   
    padding: 100px ;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;


}
.div-icon:hover{
    
    
    border-radius: 50px;
    background: #FFF;
    background: linear-gradient(0deg, rgb(243, 236, 236) 0%, rgba(235, 231, 231, 0.958) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    
   border: 2px solid #F948B2;

    
}
/* footer-section  */
.footer{
    background-color: #0B0223;
}
.gamer-footer{
    margin: 0px;
    padding-top: 40px;
}
.section-5{
    display: flex;
    
    gap: 30px;
    
    justify-content: space-around;
    padding: 20px;

}
.section-8{
    display: flex;
    
    gap: 30px;
    
    justify-content: space-around;
    

}
.text-light3{
    color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 600;
}
.footer-services{
    padding: 0px 400px;
}
.footer-social-media{
    
}
.text-light4{
    color: rgba(255, 255, 255, 0.60);
/* text-align: center; */
font-size: 16px;
font-weight: 500;
}
.align{
    text-align: center;
}
.last{
    padding-bottom: 100px;
}



/* hover  */
.watch-now{
    position: relative;
    bottom: 50%;
    left: 50%;
  display: none;
    color: #0B0223;
}
.card:hover .watch-now {
    display: block;
    position: relative;
    bottom: 50%;
    left: 40%;
    color: #ebe6fa;
   
    
}
.watch-now img{
    width: 48px;
    height: 48px;
   align-content: center;
}

/* responsive- */
@media screen and (max-width: 576px) {
    .nav, .banner{
        flex-direction: column;
        width: 90%;
        
    }
    .section-3{

        flex-direction: column-reverse;
        width: 90%;
        padding-top: 30px;
    }
    .games-card-container{
        grid-template-columns: 1fr;
    }
    
    .img2{
        width: 90%;
      margin-left: 0;
        padding: 0px;

        margin-right: 0px;
    }
    .inside-img{
        border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    width: 200px;
    
    position: relative;
    bottom: 250px;
    margin-left: 0px;
    margin-bottom: 120pxpx;
    }
    .inside-img{
        max-width: 300px;
        position: static;
        margin-left: 90px;
       
  
}
.section-3-description{

    width: 350px;
    height: 300px;
    font-size: 2rem;
    /* padding-right: 200px; */
    padding-bottom: 20px;
    text-align: left;
}


.section-4{
    
    
    display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 80px;
     justify-content: space-around;
      align-content: center;



}
.footer-services{
    padding: 0px 0px;
}
.footer-social-media {
    /* padding: 0px 272px; */
    /* margin: 0px; */
    padding-left: 53px;
}

.section-5 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-content: space-around;
    padding: 20px;
    grid-template-columns: repeat(3,100px);
}
.section-6 {
    width: 100%;
    background: linear-gradient(282deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 30%);
    /* padding: 100px; */
    animation-fill-mode: backwards;
    /* display: grid; */
    /* margin-top: 35%; */
}
.section-8{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 72px; */
    justify-content: space-around;
    /* padding: 20px; */
    padding-left: 65px;

}
.line-a
{ 
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 72px; */
    justify-content: space-around;
    align-items: center;
}
.section-4-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 179px;
}
.den-img{
    width: 550px;
}

}

@media screen and (min-width: 576px) and (max-width: 960px) {
    .games-card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .img2{
        width: 90%;
      margin-left: 0;
        padding: 0px;

        margin-right: 0px;
    }
    .inside-img{
        border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
    width: 200px;
    
    position: relative;
    bottom: 250px;
    margin-left: 0px;
    margin-bottom: 120pxpx;
    }
    .inside-img{
        max-width: 300px;
        position: static;
        margin-left: 90px;
       
  
}
.section-3-description{

    width: 350px;
    height: 300px;
    font-size: 2rem;
    /* padding-right: 200px; */
    padding-bottom: 20px;
    text-align: left;
}








.line-a
{ 
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 72px; */
    justify-content: space-around;
    align-items: center;
}
.section-4-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 179px;
}

    
}